/* common section styles */

body {
  font-family: "Lato", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  border: none;
}

.flower-header-container {
  width: 1130px;
  margin: 0px auto;
}

main .flower-header-container{
    margin-top: 100px;

}

/* header section styles */

.header{
    width: 100vw;
    background: rgba(229, 84, 115, 0.10);
    overflow: hidden;

}

.banner-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title{
    font-size: 50px;
    font-weight: 600;
    color: #272727;
}

.banner-img {
    width: 480px;
    padding: 55px;
    
  }

  .banner-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
  }
  .btn {
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background: #e55473;
    color: white;
    cursor: pointer;
  }

  /* header section end */


/* feature section styles */

.featured {
  width: 100vw;
}

.hero-featured {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}


.ft-text1 {
  color: #272727;
  text-align: center;
  font-size: 40px;
}

.ft-text2 {
  color: rgba(39, 39, 39, 0.60);
  width: 540px;
  text-align: center;
  margin: 22px auto;
}

.featured-img-container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.featured-img-2{
    width: 340px;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;

}

.featured-img-area{
    background-color: #D9EFF0;
}

.featured-img-area-1{
background: rgba(167, 33, 98, 0.15);
}
.featured-img-area-2{
    background: rgba(5, 151, 160, 0.15);
 }

.featured-img-area-3{
   background: rgba(71, 125, 17, 0.15);
}

.featured-img{
    width: 240px;
    margin-bottom: 0px;
}


.img-link {
  margin-top: 25px;
}

.img link a{
    font-size: 20px;
    color:#272727;
}



/* instagram section styles */
.insta-container {
    text-align: center;
}

.insta-img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.insta-img {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

/* latest deals styles */

.latest-deal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  margin: auto;
}

section {
  align-items: center;
  text-align: center;
  margin: auto;
}

.deal-box {
  width: 100%;
  height: 449px;
  border-radius: 8px;
  margin: auto;
  padding-left: 240px;
}

.deals {
  padding-top: 80px;
  width: 100%;
  height: 100%;
  background: url('../assets/Rectangle9.png');
  background-repeat: no-repeat;
}

.in-text {
  width: 700px;
  height: 64px;
  border: 1px solid #fff;
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.form {
  margin: 24px;
}
span {
  color: #e55473;
}

/* hot deal styles */

.hot-deal {
  width: 75%;
  height: 400px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
 
}

.hot-text {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.hot-img {
  width: 318px;
  height: 420px;
}

.hot-deal-container {
    width: 140%;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 24px;
}

/* delivery section styles */

.delivery-container {
  width: 70%;
  height: 200px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 200px;
}

.delivery{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

/* footer section styles */

.footer-container {
  width: 80%;
  height: 330px;
  text-align: center;
  background-color: #111010;
  margin-top: 25px;
}

.footer-title{
    font-size: 48px;
    font-weight: 800;
    padding: 45px;
}
.footer-info1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

.footer-info2 {
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0;
}
